html, body {
    height: 100%;
}

body {
    padding-top: 55px;
    display: flex;
    text-align: center;
    flex-direction: column;
}

main {
    margin: auto;
    padding: 25px;
    flex: 1 0 auto;
    max-width: 750px;
}

img {
    max-width: 100%;
}

/* Homepage */
.intro > h1 {
    color: #212121;
    font-size: 6vh;
}

.intro > h2 {
    color: #757575;
    font-size: 4vh;
}

/* Page content */

.content {
    padding-top: 20px;
}

/* Colored links */

a:link, a:visited {
    color: var(--accent);
}

a.icon:hover {
    text-decoration: none;
}

a:hover {
    color: var(--accent) !important;
}

/* Copyright message */

.copyright {
    font-size: 9px;
    text-align: center;
    margin: 15px 0;
}

/* Paginator */

.pages {
    padding: 15px 0;
}

.pages-icon {
    padding: 0 15px;
}

/* List item for posts/projects */

.item {
    padding: 10px 0;
}

.item-tag {
    background-color: #808080;
}

footer {
    border-bottom: var(--border-width) solid var(--accent);
}
