pre {
    text-align: left;
}

.active {
    color: var(--accent) !important;
}

.main-img {
    width: 80%;
    margin: auto
}

.intro {
    text-align: center;
    transform: none;
}

.dropdown-menu {
    background-color: #f8f8f8;
}

.navbar {
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-top: var(--border-width) solid var(--accent);
}

.fixed-top {
    border-color: var(--accent);
}

.navbar-light {
    background-color: #f8f8f8;
}

.nav-link {
    padding-top: 0rem;
    padding-bottom: 0rem;
}

.navbar-item, .navbar-icon {
    padding-left: 0.7em;
    padding-right: 0.7em;
}

a:link, a:visited {
    text-decoration: none;
    color: #808080
}

